
<div class="text-center form-container">
  <h2>
    Register
    
  </h2>
  <form class="form auth-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="sr-only" for="name">Name</label>
      <input class="form-control" id="name" type="text" placeholder="Name" formControlName="name" required="required"/>
      <div class="alert alert-danger" *ngIf="name.invalid &amp;&amp; (name.dirty || name.touched)">
        <div *ngIf="name.errors?.required">Name is required.</div>
        <div *ngIf="name.errors?.minlength">Name must be at least 3 characters long.</div>
      </div>
      <div class="alert alert-danger" *ngIf="registerForm.errors?.isLetters &amp;&amp; (name.dirty || name.touched)">Name can only contain letters.</div>
      <div class="alert alert-danger" *ngIf="apiErrors.username">
        {{apiErrors.username}}
        
      </div>
    </div>
    <div class="form-group">
      <label class="sr-only" for="email">Email</label>
      <input class="form-control" id="email" type="email" placeholder="Email" formControlName="email" required="required"/>
      <div class="alert alert-danger" *ngIf="email.invalid &amp;&amp; (email.dirty || email.touched)">
        <div *ngIf="email.errors?.required">Email is required.</div>
        <div *ngIf="email.errors?.email">Must be a valid email.</div>
      </div>
      <div class="alert alert-danger" *ngIf="apiErrors.email">
        {{apiErrors.email}}
        
      </div>
    </div>
    <div class="form-group">
      <label class="sr-only" for="password">Password</label>
      <input class="form-control" id="password" type="password" placeholder="Password" formControlName="password" required="required"/>
      <div class="alert alert-danger" *ngIf="password.invalid &amp;&amp; (password.dirty || password.touched)">
        <div *ngIf="password.errors?.required">Password is required.</div>
        <div *ngIf="password.errors?.minlength">Password must be at least 8 characters long.</div>
      </div>
      <div class="alert alert-danger" *ngIf="registerForm.errors?.hasNumber &amp;&amp; (password.dirty || password.touched)">Password must contain at least one number.</div>
      <div class="alert alert-danger" *ngIf="registerForm.errors?.hasUpper &amp;&amp; (password.dirty || password.touched)">Password must contain at least one uppercase letter.</div>
      <div class="alert alert-danger" *ngIf="registerForm.errors?.hasLower &amp;&amp; (password.dirty || password.touched)">Password must contain at least one lowercase letter.</div>
      <div class="alert alert-danger" *ngIf="apiErrors.password">
        {{apiErrors.password}}
        
      </div>
    </div>
    <div class="form-group">
      <label class="sr-only" for="repeat-password">Repeat password</label>
      <input class="form-control" id="repeat-password" type="password" placeholder="Repeat Password" formControlName="repeatPassword" required="required"/>
      <div class="alert alert-danger" *ngIf="registerForm.errors?.matchPassword &amp;&amp; (repeatPassword.dirty || repeatPassword.touched)">
        Passwords do not match.
        
      </div>
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!registerForm.valid">Submit</button>
  </form>
</div>