.text-center.form-container
    h2.
        Login

    form.form.auth-form([formGroup]='loginForm', (ngSubmit)='onSubmit()')
        .form-group
            label.sr-only(for='name').
                Name
            input#name.form-control(type='text', placeholder='Name', formControlName='name', required)

        .form-group
            label.sr-only(for='password').
                Password
            input#password.form-control(type='password', placeholder='Password', formControlName='password', required)

            .alert.alert-danger(*ngIf='apiError').
                {{apiError}}


        button(type='submit', [disabled]='!loginForm.valid').btn.btn-primary.btn-lg.btn-block.
            Login
