
<h2 class="text-center">Profile</h2>
<div class="container">
  <div class="row">
    <div class="col col-lg-3">
      <h5>Username</h5>
    </div>
    <div class="col col-lg-9">
      <h5>{{user.name}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-3">
      <h5>Email</h5>
    </div>
    <div class="col col-lg-9">
      <h5>{{user.email}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-3">
      <h5>Id</h5>
    </div>
    <div class="col col-lg-9">
      <h5>{{user.id}}</h5>
    </div>
  </div>
</div>